/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.text-container {
    margin-top: 10px;
}

.edit-button,
.delete-button {
    margin-left: 5px;
}
